body {
  background-color: orange;
  /* yooo dddddfdf*/
}
h1 {
  margin: 0px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
#nav {
  margin: 10px;
  margin-bottom: 10px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
input {
  margin-right: 700px;
}

#search {
  margin-bottom: 80px;
}
.data {
  height: 400px;
  width: 300px;
  margin-bottom: 20px;
}
.flagSection {
  height: 200px;
  width: 300px;
  border-style: double;
}
.codeSection,
.latLongMapSection,
.subRegionSection,
.regionSection,
.areaSection,
.populationSection {
  height: 20px;
  width: 300px;
  background-color: white;
  border-style: double;
}
.nameSection {
  height: 40px;
  width: 300px;
  text-align: center;
  background-color: white;
  vertical-align: middle;
  border-style: double;
}
.flag {
  height: 200px;
  width: 300px;
  object-fit: contain;
  position: absolute;
}
#map {
  height: 60vh;
  width: 60vw;

  position: fixed;
  margin-top: 20vh;
  margin-left: 20vw;
}
.latHidden,
.longHidden,
.areaHidden {
  visibility: hidden;
}
.mapButton {
  position: absolute;
  margin-left: 10px;
  z-index: 1;
}
.closeMap {
  z-index: 2;

  position: fixed;
  margin-left: 57%;
  background-color: red;
}
